[user]
	email = franske2000@gmail.com
	name = Thomas Frans
	signingKey = B190861E5A0A81B0
[init]
	defaultBranch = master
[pull]
	rebase = true
[status]
	short = true
	branch = true
[commit]
	gpgsign = true
[core]
	editor = nvim
[alias]
	show-tracked = ls-tree --full-tree -r HEAD
